---
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks.git'
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
        exclude: '^test/vendor/*'
      - id: check-yaml
        exclude: '^test/vendor/*'
      - id: check-json
        exclude: '^test/vendor/*'
      - id: check-merge-conflict
  - repo: 'https://github.com/jumanjihouse/pre-commit-hooks.git'
    rev: 2.1.5
    hooks:
      - id: shellcheck
      - id: shfmt
  - repo: 'https://github.com/adrienverge/yamllint'
    rev: v1.26.0
    hooks:
      - id: yamllint
        exclude: '^test/vendor/*'
  - repo: 'https://github.com/jorisroovers/gitlint.git'
    rev: v0.10.0
    hooks:
      - id: gitlint
        stages:
          - commit-msg
  - repo: 'https://github.com/antonbabenko/pre-commit-terraform'
    rev: v1.22.0
    hooks:
      - id: terraform_fmt
      - id: terraform_docs
  - repo: 'https://github.com/kuleuven/pre-commit-golang.git'
    rev: 9f264676658ed379d73624df77bde7f501bde89a
    hooks:
      - id: golangci-lint-repo-mod
        exclude: '^test/vendor/*'
        args: ["--allow-parallel-runners"]
  - repo: 'https://github.com/Bahjat/pre-commit-golang.git'
    rev: 85c26d4d1c8a086095a057bbdf8adf56af603ce4
    hooks:
      - id: gofumpt
        exclude: '^test/vendor/*'
